.landing{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/backgrounds/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.name{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-left: 55px;
    padding: 5px;
}
