.landing{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/backgrounds/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;


}
.logo{
    margin: 0;
    padding: 0;
    position: absolute;
    padding: 5px;
    margin-left: 20px;
}



.nav-wrapper{
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent;
}

.white{
    color: white;
}

.middle{

    margin-top: 12%;
}
.our  {
    color: white;
    font-size: 40px;
    margin-left: 29%;
    margin-right: 20%;


}
.we{
    color: white;
    font-size: 19px;
    margin-left: 33%;
}
.it{
    color: white;
    font-size: 16px;
    margin-left: 35%;
}

/*For the second cpontainer with the check box and button to see all*/
#select{
    margin: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(198,191,165)

}
form{
    padding-top: 10px;
}
#product_button{
    float: right;
    clear: both;
    margin-right: 25px;
    background-color: rgb(102,26,0)
}

